@font-face {
  font-family: 'DancingScript';
  src: url('/tic-tac-toe/fonts/DancingScript-SemiBold.woff2') format('woff2'),
    url('/tic-tac-toe/fonts/DancingScript-SemiBold.woff') format('woff'),
    url('/tic-tac-toe/fonts/DancingScript-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Acme';
  src: url('/tic-tac-toe/fonts/Acme-Regular.woff2') format('woff2'),
    url('/tic-tac-toe/fonts/Acme-Regular.woff') format('woff'),
    url('/tic-tac-toe/fonts/Acme-Regular.ttf') format('truetype');
  font-display: swap;
}
