/* Reset */

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

svg {
  display: block;
  vertical-align: middle;
}

[hidden] {
  display: none;
}

.container {
  width: 100%;
}

/* Code starts here */

::selection,
::-moz-selection {
  background-color: lightgreen;
  color: #222;
}

:root {
  --color: #222;
  --bg-color: white;
  --bg-color-hover: #ddd;
  --scroll-thumb: #bbb;
  --scroll-track: #ddd;
  --text-shadow: 0 0 0.01rem #2229;
}

[data-theme='dark'] {
  color: white;
  --color: white;
  --color-hover: lightgreen;
  --bg-color: #222;
  --bg-color-hover: #4449;
  --bg-active: rgba(0, 128, 0, 0.75);
  --bg-active-hover: rgba(0, 128, 0, 0.5);
  --square-hover: rgba(0, 0, 0, 0.5);
  --line-win: lightgreen;
  --tile-win: rgba(220, 20, 60, 0.2);
  --box-shadow: 0 0 1rem 0.2rem white;
  --tile-shadow: 0 0 0.3rem 0.01rem var(--color);
  --hover: #ccc;
  --hover-sound: #bbb;
  --stroke: #ddd;
  --heading-shadow: var(--color-hover);
  --scroll-thumb: #555;
  --scroll-track: #333;
  --text-shadow: 0 0 0.12rem white;
  --infinity-color: lightgreen;
}

[data-theme='light'] {
  color: #222;
  --color: #222;
  --color-hover: green;
  --bg-color: white;
  --bg-color-hover: #eee;
  --bg-active: rgba(144, 238, 144, 0.75);
  --bg-active-hover: rgba(144, 238, 144, 0.5);
  --square-hover: rgba(255, 255, 255, 0.5);
  --tile-win: rgba(144, 238, 144, 0.4);
  --line-win: crimson;
  --box-shadow: 0 0 1rem 0.5rem white;
  --tile-shadow: 0 0 0.2rem 0.01rem var(--color);
  --hover: #555;
  --hover-sound: #555;
  --stroke: #333;
  --heading-shadow: var(--color);
  --scroll-thumb: #bbb;
  --scroll-track: #ddd;
  --text-shadow: 0 0 0.1rem #2229;
  --infinity-color: green;
}

a {
  color: var(--color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-sound);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.4s ease-out;
  transition: color 0.2s ease-out;
  transition: border 0.4s ease-out;
  font-weight: 500;
}

html,
body,
.theme {
  overflow-x: hidden;
}

html,
body,
.theme {
  height: 100%;
}

.theme {
  overflow-y: auto;
  display: grid;
  place-items: center;
  text-shadow: var(--text-shadow);
  font-size: 1.1rem;
  letter-spacing: 0.02rem;
}

.theme::-webkit-scrollbar,
.overlay::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.theme::-webkit-scrollbar-thumb,
.overlay::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 10px;
  background-color: var(--scroll-thumb);
}

.theme::-webkit-scrollbar-track-piece,
.overlay::-webkit-scrollbar-track-piece {
  background-color: var(--scroll-track);
}

.container {
  height: 100%;
  display: grid;
  place-content: center;
}

header {
  position: relative;
}

h1 {
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(
    180deg,
    var(--color-hover) 25%,
    var(--color-hover) 50%,
    var(--bg-color)
  );
  background-clip: text;
  background-position: left;
  background-size: 200%;
  text-shadow: 0 0 5rem var(--color-hover);
}

.heading-shadow {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--color-hover);
  text-shadow: 0 0 0.1rem var(--heading-shadow);
}

button {
  text-shadow: inherit;
}

.reset:hover,
.reset:disabled {
  color: var(--hover);
}

.game {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}

.game-content {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2rem;
  position: relative;
  right: 0.2rem;
  margin-bottom: 3rem;
}

.remove-double-columns {
  grid-template-columns: 1fr;
}

.group {
  display: flex;
}

.group > * > * {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--tile-shadow);
}

@keyframes tile-span {
  from {
    transform: scale(1) rotate(-20deg);
  }
  to {
    transform: scale(0.85) rotate(20deg);
    border-color: var(--infinity-color);
    box-shadow: 0 0 1rem 0.01rem var(--infinity-color);
  }
}

.group > * {
  position: relative;
  height: 50px;
  width: 50px;
  border: 0.05rem solid var(--color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--tile-shadow);
  animation: group-tile 2s alternate-reverse infinite ease-in-out;
}

@keyframes group-tile {
  to {
    border: 0.05rem solid var(--color-hover);
    box-shadow: 0 0 0.3rem 0.01rem var(--color-hover);
  }
}

.group > *:hover {
  background-color: var(--bg-color-hover);
  color: var(--color-hover);
}

.group > *:active {
  color: crimson;
}

.group > *:hover span {
  text-shadow: 0 0 1rem lightgreen;
}

.group > *:active span {
  text-shadow: 0 0 1rem crimson;
}

.group > *:hover span:active {
  text-shadow: 0 0 1rem crimson;
}

.game-box {
  position: relative;
  border: 0.1rem solid var(--color);
  margin: 0.5rem;
  animation: game-container 2s alternate-reverse infinite ease-in-out;
}

@keyframes game-container {
  to {
    border: 0.1rem solid var(--color-hover);
    box-shadow: 0 0 0.5rem 0.01rem var(--color-hover);
  }
}

.board-options {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.1rem;
}

.score {
  margin: 0.2rem;
  padding: 0 0.4rem;
  display: flex;
  gap: 0.5rem;
  background: var(--bg-color-hover);
  text-wrap: nowrap;
}

.group-environment {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
}

.button,
.button:link,
.button:visited,
.button:hover,
.button:focus {
  padding: 0.25rem 0.5rem;
  border-top: 0.1rem solid var(--color);
  border-bottom: 0.1rem solid var(--color);
}

.button:hover {
  background-color: var(--bg-color-hover);
}

.button:disabled {
  /* opacity: 90%; */
}

.active {
  background-color: var(--bg-active);
}
.active:hover {
  background-color: var(--bg-active-hover);
}

.button-group {
  display: flex;
}

.button-group > * {
  flex: 1 1 50%;
}

.single {
  border: 0.1rem solid var(--color);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.1rem var(--color);
}

.single:active,
.single:hover {
  border-left: 0.1rem solid var(--color);
  border-right: 0.1rem solid var(--color);
}

.middle {
  border-left: 0.05rem solid var(--color);
  border-right: 0.05rem solid var(--color);
  box-shadow: 0 0 0.1rem var(--color);
}

.middle:active,
.middle:hover {
  border-left: 0.05rem solid var(--color);
  border-right: 0.05rem solid var(--color);
}

.left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left: 0.1rem solid var(--color);
  border-right: 0.05rem solid var(--color);
  box-shadow: 0 0 0.1rem var(--color);
}

.left:active,
.left:hover {
  border-right: 0.05rem solid var(--color);
}

.right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-right: 0.1rem solid var(--color);
  border-left: 0.05rem solid var(--color);
  box-shadow: 0 0 0.1rem var(--color);
}

.right:active,
.right:hover {
  border-left: 0.05rem solid var(--color);
}

.game-options,
.group-environment {
  padding: 0 3rem;
  margin: 1.5rem 0;
}

.game-options {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 300px;
  position: relative;
  left: 1.4rem;
  margin-top: 0;
}

.game-options::after {
  content: '';
  height: 80%;
  width: 0.1rem;
  background: var(--color);
  display: block;
  position: absolute;
  top: 2.6rem;
  left: -1.5rem;
  box-shadow: 0 0 0.1rem var(--color);
}

.game-options > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.invisible-box-vertical {
  overflow: hidden;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  place-items: center;
  transition: all 0.4s ease-out;
  pointer-events: none;
}

.invisible-box-vertical div {
  visibility: hidden;
}

.invisible-box-vertical > * {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  height: 85%;
  width: 20%;
  background-color: var(--line-win);
  opacity: 60%;
}

.invisible-box-vertical.transform45 > *,
.invisible-box-vertical.transform-45 > * {
  border-radius: 40%;
  height: 85%;
  width: 15%;
}

.invisible-box-vertical div:nth-child(1) {
  grid-column: 2/3;
}

.invisible-box-vertical div:nth-child(2) {
  grid-column: 5/6;
}

.invisible-box-vertical div:nth-child(3) {
  grid-column: 8/9;
}

.transform {
  transform: rotate(90deg);
}

.transform45 {
  transform: rotate(45deg) scale(1.4) translateX(50px);
}

.transform-45 {
  transform: rotate(-45deg) scale(1.4) translateX(50px);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  animation: icon-intro 0.1s ease-out;
  display: inline;
  stroke: var(--stroke);
}

.icon:hover {
  stroke: var(--hover-sound);
}

@keyframes icon-intro {
  from {
    opacity: 0;
  }
}

.icon-container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: center;
  width: 200%;
  padding: 0 2rem 2rem;
  z-index: 2;
  background: linear-gradient(180deg, var(--bg-color) 50%, transparent);
}

/* .remove-scroll-width {
  width: calc(100% - 10px);
} */

.grainy-texture {
  position: fixed;
  width: 200%;
  height: 200%;
  mix-blend-mode: soft-light;
  z-index: 99999;
  isolation: isolate;
  pointer-events: none;
  background-color: #111;
}

.background {
  position: fixed;
  width: 200%;
  height: 200%;
  z-index: -1;
  background-color: var(--bg-color);
}

.game-status {
  animation: status 1s alternate-reverse infinite ease-in-out;
}

@keyframes status {
  from {
    color: var(--color);
    transform: scale(0.96);
    opacity: 0.7;
  }
}

.tile-win {
  background-color: var(--tile-win);
}

.tile-win:hover {
  color: var(--color);
}

.tile-active:active {
  color: var(--color);
}

.gamebox-draw {
  border: 0.1rem solid crimson;
  box-shadow: 0 0 0.5rem 0.01rem crimson;
  animation: game-draw 2s alternate-reverse infinite ease-in-out,
    text-pop 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes game-draw {
  from {
    border: 0.1rem solid var(--color-hover);
    box-shadow: 0 0 0.5rem 0.01rem var(--color-hover);
  }
}

@keyframes text-pop {
  from {
    color: crimson;
    text-shadow: 0 0 0.1rem crimson;
    transform: scale(0.96);
    opacity: 0.7;
  }
}

.group-draw > * {
  border-color: rgba(220, 20, 60, 0.7);
  box-shadow: 0 0 0.2rem 0.01rem crimson;
  animation: group-draw 2s alternate-reverse infinite ease-in-out;
}

@keyframes group-draw {
  from {
    border: 0.05rem solid var(--color-hover);
    box-shadow: 0 0 0.3rem 0.01rem var(--color-hover);
  }
}

.infinity-span {
  color: var(--infinity-color);
  text-shadow: 0 0 1rem var(--infinity-color);
  animation: tile-span 0.5s alternate-reverse infinite ease-in-out,
    icon-intro 1s ease-out;
}

.visible {
  visibility: visible !important;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  background-color: var(--bg-color);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem 3rem;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.7;
  opacity: 97%;
}

.overlay-content {
  max-width: 25rem;
}

.overlay-header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 3rem 2rem 2rem;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 200%;
  background: linear-gradient(180deg, var(--bg-color) 70%, transparent);
  z-index: 2;
}

.overlay {
  & h2 {
    font-size: 1.2rem;
    + ul {
      margin-bottom: 2rem;
    }
  }
  & h3 {
    display: inline;
  }
}

/* .overlay h2 {
  font-size: 1.2rem;
} */

/* .overlay h2 + ul {
  margin-bottom: 2rem;
} */

/* .overlay h3 {
  display: inline;
} */

.overlay h3 + ul {
  padding-left: 1rem;
  margin-bottom: 0.6rem;
}

.overlay h2 + ul li:not(:last-child) {
  margin-bottom: 0.6rem;
}

.overlay h3 + ul li:not(:last-child) {
  margin-bottom: 0.2rem;
}

.overlay ul {
  list-style: none;
}

.overlay li {
  list-style: none;
}

.overlay li::before {
  content: '::';
  position: relative;
  top: -0.08rem;
  padding-right: 0.4rem;
}

.overlay-tabs {
  margin-bottom: 1rem;
}

.overlay-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 30rem;
}

.close {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.gt {
  text-wrap: nowrap;
}

.period {
  position: relative;
  bottom: 0.24rem;
}

.star {
  position: relative;
  top: 0.2rem;
}

.spinner {
  height: 1.4rem;
  width: 1.4rem;
  animation: spin 0.5s infinite linear, icon-intro 0.1s ease-out;
  background-color: var(--stroke);
  border-radius: 50%;
  position: relative;
}

.spinner::after {
  content: '';
  display: block;
  color: var(--stroke);
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  filter: blur(0.02rem);
}

.spinner::after {
  content: '-';
  display: block;
  color: var(--stroke);
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  filter: blur(0.02rem);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 50em) {
  .game-content {
    grid-template-columns: 1fr;
    right: 0;
  }

  .icon-container {
    margin-bottom: 2rem;
    padding: 1.2rem 0;
  }

  .game-options::after {
    content: '';
    height: 0.1rem;
    width: 120%;
    background: var(--color);
    display: block;
    position: absolute;
    top: -2.6rem;
    left: -1.3rem;
    box-shadow: 0 0 0.1rem var(--color);
  }

  .game-options,
  .group-environment {
    padding: 0;
    margin: 0;
  }

  .game-options {
    left: 0;
    width: 200px;
    padding-top: 1.8rem;
    margin-bottom: 7rem;
  }

  .game-status {
    margin-bottom: 5rem;
  }
}
